<div class="toughts-form-container">
    <a href="/toughts/dashboard">Voltar</a>
    <h1>Criando um pensamento</h1>
    <form action="/toughts/edit/" method="post">
    <input type="hidden" name="id" value="{{tought.id}}">
        <div class="form-control">
            <input type="text" name="title" value="{{tought.title}}">
        </div>
        <input type="submit" value="Salvar alterações">
    </form>
</div>